.protected-title_border {
  width: 23%;
}

.session-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.password-container {
  width: 922px;
  height: 600px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.protected-subtitle_border {
  width: 15%;
}

.section-desc_container {
  width: 551px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*  */
.input-container {
  display: flex;
  align-items: center;
  display: block;
  width: 606px;
  height: 150px;
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.custom-button {
  width: 100%;
  padding: 10px;
  background-color: #ffca42;

  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin-left: -1px;
}
