<!-- footer -->
<footer class="footer session-padding footer-session">
  <div class="container">
    <div class="row">
      <div class="col-3 p-0">
        <div class="container">
          <div class="d-flex align-items-center mb-3">
            <img
              src="./assets/icons/Logo.svg"
              class="navbar-brand me-1"
              href="#"
            />
            <span class="text-footer__logo text-bg text-center ms-2"
              >Pages</span
            >
          </div>
          <span class="d-flex">
            <img
              src="./assets/footer/1.png"
              class="navbar-brand me-2"
              href="#"
            />
            <img
              src="./assets/footer/2.png"
              class="navbar-brand me-2"
              href="#"
            />
            <img
              src="./assets/footer/3.png"
              class="navbar-brand me-2"
              href="#"
            />
            <img
              src="./assets/footer/4.png"
              class="navbar-brand me-2"
              href="#"
            />
          </span>
        </div>
      </div>

      <div class="col-2">
        <p class="section-title footer-subtitle_text mb-3">Explore</p>
        <ul class="footer-ul">
          <li class="footer-bulletin section-desc footer-bulletin_text">
            Home
          </li>
          <li class="footer-bulletin footer-bulletin_text">About Us</li>
          <li class="footer-bulletin footer-bulletin_text">Services</li>
          <li class="footer-bulletin footer-bulletin_text">Appointments</li>
          <li class="footer-bulletin footer-bulletin_text">Blog</li>
          <li class="footer-bulletin footer-bulletin_text">Contact Us</li>
        </ul>
      </div>
      <div class="col-3">
        <p class="section-title footer-subtitle_text mb-3">Utility Pages</p>
        <ul class="footer-ul">
          <li class="footer-bulletin section-desc footer-bulletin_text">
            Start here
          </li>
          <li class="footer-bulletin footer-bulletin_text">Style guide</li>
          <li class="footer-bulletin footer-bulletin_text">404 not found</li>
          <li class="footer-bulletin footer-bulletin_text">
            Password protected
          </li>
          <li class="footer-bulletin footer-bulletin_text">Licenses</li>
          <li class="footer-bulletin footer-bulletin_text">Changelog</li>
        </ul>
      </div>
      <div class="col-4">
        <p class="section-title footer-subtitle_text ps-4 mb-3">
          Keep in Touch
        </p>
        <!--  -->
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p class="header-title footer-key_text">Address:</p>
            </div>
            <div class="col-md-8">
              <p class="section-desc footer-value_text">
                24A Kingston St, Los Vegas NC 28202, USA.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="header-title footer-key_text">Mail:</p>
            </div>
            <div class="col-md-6">
              <p class="section-desc footer-value_text">support@doctors.com</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="header-title footer-key_text">Phone:</p>
            </div>
            <div class="col-md-8">
              <p class="section-desc footer-value_text">
                (+22) 123 - 4567 - 900
              </p>
            </div>
          </div>
        </div>

        <!--  -->
      </div>
    </div>
  </div>
</footer>

<footer
  class="footer session-padding footer-copyright"
  style="border-top: 1px solid #fff; text-align: center"
>
  <div class="container">
    <p class="footer-copyrighttext_pri">
      &#169; Drafted by
      <span class="footer-copyrighttext_sec">Victorflow</span> - Powered by
      <span class="footer-copyrighttext_sec">Webflow</span>
    </p>
  </div>
</footer>
