<nav class="navbar-expand navbar-dark bg-navbar pt-4 pb-5">
  <div class="container d-md-flex">
    <a class="navbar-brand" href="#">
      <img src="./assets/icons/Logo.svg" class="navbar-brand me-1" href="#" />
      <span class="text-navbar__logo text-bg">Pages</span>
      <span class="navbar-brand ms-5">
        <img
          src="./assets/icons/facebook.svg"
          class="navbar-brand me-2"
          href="#"
        />
        <img
          src="./assets/icons/twitter.svg"
          class="navbar-brand me-2"
          href="#"
        />
        <img
          src="./assets/icons/linkedin.svg"
          class="navbar-brand me-1"
          href="#"
        />
      </span>
    </a>

    <!-- <img src="./assets/icons/Logo.svg" class="navbar-brand px-5" href="#" /> -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3">
          <a href="../index.html" class="nav-link">Home</a>
        </li>
        <!-- <li class="nav-item me-3">
          <a href="" class="nav-link">Pages<i class="arrow down"></i></a>
        </li> -->
        <!--  -->
        <li class="nav-item me-3 dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Pages <i class="arrow down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="pagesDropdown">
            <li><a class="dropdown-item" href="../store.html">store</a></li>
            <li>
              <a class="dropdown-item" href="../single_product.html"
                >Single product</a
              >
            </li>
            <li><a class="dropdown-item" href="../article.html">Blog</a></li>
            <li>
              <a class="dropdown-item" href="../blog-single.html"
                >Blog Single</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../404.html">404</a>
            </li>
            <li>
              <a class="dropdown-item" href="../password-protected.html"
                >Password protected</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="../license.html">Licenses</a>
            </li>
            <li>
              <a class="dropdown-item" href="../change-log.html">Change log</a>
            </li>
            <li>
              <a class="dropdown-item" href="../single-product-blur.html"
                >blog-blur</a
              >
            </li>
          </ul>
        </li>

        <!--  -->
        <li class="nav-item me-3">
          <a href="../about.html" class="nav-link">About</a>
        </li>
        <li class="nav-item me-3">
          <a href="#" class="nav-link">Services</a>
        </li>
        <li class="nav-item me-3">
          <a href="../contact.html" class="nav-link">Contact</a>
        </li>
        <li class="nav-item me-4">
          <a href="#" class="btn link-ligh"
            ><img src="./assets/icons/cart.svg"
          /></a>
        </li>
        <li>
          <button type="button" class="btn btn-custom btn-nav">
            Order Today
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
